.venv
.claude
aws
ds005873-download
.pytest_cache
Claude.md
venv_win
__pycache__/
ds005873-1.1.0
specs
results/preprocessed
results/preprocessed_all
load_failingFiles.sh
ds005873-1.1.0.sh
filtered_download.log
failed_recordings.csv
failed_recordings_preprocessing_SeizeIT2_ECG.csv
test/
preprocessed_data/
ASIM_v1/
MatrixProfile/MPs
.idea/
Madrid/output
madrid_seizure_results_parallel_old
madrid_seizure_results_parallel_40files
madrid_seizure_results_parallel
results
madrid_seizure_results_parallel_example_smart_clustered
madrid_seizure_results_parallel_example_clustered
madrid_results
Madrid/madrid_results copy/madrid_seizure_results_parallel_400
madrid_results_8hz_noWindow
cluster_reduction
venv
Madrid/results_8hz_window3600_stride1800_5mintrain_old
Madrid/results_8hz_window3600_stride1800_old
Madrid/results_8hz_window3600_stride1800_new20min
/Madrid/results_8hz_window3600_stride1800_new20min_cluster
/Madrid/results_8hz_window3600_stride1800_new20min_clustered
/Madrid/results_8hz_window3600_stride1800_new20min_clustering
results_madrid_noIntervalExtension