.venv
.claude
aws
ds005873-download
.pytest_cache
Claude.md
venv_win
__pycache__/
ds005873-1.1.0
specs
results/preprocessed
results/preprocessed_all
load_failingFiles.sh
ds005873-1.1.0.sh
filtered_download.log
failed_recordings.csv
failed_recordings_preprocessing_SeizeIT2_ECG.csv
.idea/
Madrid/output
madrid_seizure_results_parallel_old
madrid_seizure_results_parallel_40files
madrid_seizure_results_parallel